<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js" type="module"></script>
    <link rel="stylesheet" href="style.css">
    <title>GardenGuard</title>
</head>

<body>
  
    <div id="flower">Flower</div>
    <div id="bird">Bird</div>
    <div id="bee">Bee</div>
    <div id="wind">Wind</div>
    <div id="msg"></div>
    <div id="thing0" class="thing"></div>
    

  <script src="script.js" type="module"></script>

</body>

</html>