<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GardenGuard</title>
    <link rel="stylesheet" href="style.css">
    
</head>

<body>
    <div>Get 5 bees to the plant in 20 seconds</div>
    <div id="plant">Plant</div>
    <div id="timer">Time left: 20</div>
    <div id="score">Bees: 0</div>
    <div id="lives">❤️❤️❤️</div>


  <script src="script.js" type="module"></script>

</body>

</html>